@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
}

.lib-container{
    width: 400px;
    margin: auto;
}

a{
    text-decoration: none;
    color: royalblue;
}

a:hover{
    text-decoration: underline;
}

textarea{
    outline: none;
    background-color: transparent;
    border: 1px solid;
}

input{
    outline: none;
    background-color: transparent;
    border: 1px solid;
}

button{
    outline: none;
    background-color: transparent;
    border: 1px solid;
}

.btn-s{
    padding: 6px;
    padding-right: 8px;
    padding-left: 8px;
    cursor: pointer;
    letter-spacing: 1.6px;
}

.btn-s, .btn-m, .btn-l{
    border: 1px solid royalblue
}

.btn-c, .btn-c, .btn-c{  
    border-radius: 100px;
    transition: all 0.2s ease;
    background: royalblue;
    font-weight: 900;
    color: white;
}

.btn-t, .btn-t, .btn-t{
    color: royalblue;
    border-radius: 100px;
    transition: all 0.2s ease;
    background: transparent;
    font-weight: 900;
}

.btn-c.btn-o{
    background-color: tomato;
    border-color: tomato;
}

.btn-t.btn-o{
    color: tomato;
    border-color: tomato;
}

.btn-m{
    padding: 8px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 2px;
}

.btn-l{
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 26px;
    cursor: pointer;
    letter-spacing: 2.6px;
}

.btn-c:hover{
    background-color: rgba(65, 105, 225, 0.8);
}

.btn-c.btn-o:hover{
    background-color: rgba(255, 99, 71, 0.8);
}

.btn-t:hover{
    background-color: rgba(65, 105, 225, 0.2);
}

.btn-t.btn-o:hover{
    background-color: rgba(255, 99, 71, 0.2);
}

.lbl-input{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px;                                                                                                                                        
    padding-right: 4px;
    padding-left: 4px;
    font-size: 16px;
    border-radius: 6px;
}

.lbl-input label{
    color: black;
    font-size: 16px;
}

.lbl-input input{
    border: none;
    font-size: 20px;
    margin-top: 8px;
    color: black;
}

.lbl-input textarea{
    border: none;
    font-size: 20px;
    margin-top: 8px;
    color: black;
    resize: vertical;
}

.btn-i{
    font-size: 26px;
    padding: 10px;
    border-radius: 100px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn-io{
    font-size: 26px;
    padding: 10px;
    border-radius: 100px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn-i:hover{
    color: rgb(65, 105, 225);
    /* background-color: rgba(70, 200, 250, 0.2); */
    background-color: rgba(65, 105, 225, 0.2);
}

.btn-io:hover{
    color: tomato;
    background-color: rgba(255, 99, 71, 0.2);
}

.orange{
    color: coral;
}

.blue{
    color: royalblue;
}


*::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 10px;
	/* background-color: rgb(245, 245, 245); */
}

*::-webkit-scrollbar{
	width: 8px;
	/* background-color: #F5F5F5; */
	background-color: rgba(55, 55, 55, 0.05);
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: rgb(55, 55, 55);
}