/* Login/Signup Form */

form{
    margin-top: 60px;
}

form p{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

form div, form input{
    margin-top: 34px;
}

form .option{
    text-align: center;
}

form .btn-c{
    width: 100%;
}

.option span{
    color: rgb(125, 125, 125);
}

/* Home Page */

.post-box{
    display: flex;
    padding: 15px;
    padding-top: 10px;
    border-top: 1px solid rgb(125, 125, 125);
    border-bottom: 1px solid rgb(125, 125, 125);
}

.header{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.main-container{
    width: 100%;
    margin-left: 62.25px;
}

.header p{
    font-size: 26px;
    font-weight: 900;
    display: inline;
    cursor: pointer;
}

.post{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.post-input{
    font-size: 20px;
    margin-top: 12px;
    border: none;
    resize: vertical;
    min-height: 24px;
    max-height: 144px;
    height: 24px;
}

.post div{
    margin-top: 18px;
}

.post .btn-s{
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
    float: right;
}

.home-body{
    display: flex;
    max-width: 600px;
    margin: auto;
}

@media only screen and (min-width: 599px) {
    .main-container{
        border-right: 1px solid rgb(125, 125, 125);
    }
}

.sidebar{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(125, 125, 125);
    height: 100vh;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 12px;
    position: fixed;
    overflow: auto;
}

.sidebar .options{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.sidebar .profile{
    margin-bottom: 0;
}

.sidebar .profile button{
    border: none;
    padding: 0;
    margin-bottom: 0;
}

.sidebar .options a{
    margin-bottom: 12px;
}

.index{
    display: flex;
    flex-direction: column;
}

.index a:hover{
    text-decoration: none;
}

.index{
    margin-top: 60px;
}

.index .btn-m{
    text-align: center;
    margin-top: 20px;
}

.index .title{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.index .desc{
    margin-top: 50px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.main-picture{
    width: 25%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.div{
    height: 100vh;
}